<div class="amain">
<h2>最会逛大家· · · · · ·<span class="pl">(<a href="__URL__/gogomore/">更多</a>)</span></h2>
<volist name="gogousers" id="vo">
<include file="Component:user" />
</div>

</volist>
<div class="clear" ></div>
<h2>最会晒的大家· · · · · ·<span class="pl">(<a href="__APP__/More/get/" class="linkcss">更多</a>)</span></h2>
<volist name="users" id="vo">
<include file="Component:user_m" />
</volist>
<div class="clear" ></div>

<h2>新来的各位· · · · · ·<span class="pl">(<a href="__URL__/newhere">更多</a>)</span></h2>
<volist name="newusers" id="vo">
<include file="Component:user_m" />
</volist>
<div class="clear" ></div> 

<h2>最活跃的大家· · · · · · <span class="pl">(<a href="__URL__/active">更多</a>)</span></h2>
<volist name="activeusers" id="vo">
<include file="Component:user_m" />
</volist>
<div class="clear" ></div> 


</div>
        <div class="aside">
     
<include file="Component:actionlink" />
<include file="Component:note" />

<include file="Component:adblock" />

<h2>大家说.....</h2>
<ul class="mbt">
<volist name="says" id="vo">
<include file="Component:comment_list" />
</volist>
</ul>
        </div>
        <div class="extra">           
        </div>


