<div class="amain" style="position: relative; min-height: 1299px;">


<div id="userprofile">
<div class="pic"><a href="__URL__/space/id/{$user.id}">
<img src="{$user.image_id|getImage=###,'m_'}" alt="{$user.enname}">
</a></div>
<div class="uinfo">
<h1>{$user.cnname}
<div id="edit_signature" style="display: inline;"
	class="j a_edit_signature edtext pl"><span id="microblog"
	style="display: inline; margin-left:5px;">{$user.microblog|msubstr=0,40}</span> 
</div>
</h1>

<ul class="uul">
	<li><a href="__APP__/say/index/uid/{$user.id}">我说</a></li>
	<li><a href="__APP__/say/comment/uid/{$user.id}">我的点评</a></li>
	<li><a href="__APP__/search/taglist/uid/{$user.id}">我的标签</a></li>
	<li><a href="__APP__/city/location/uid/{$user.id}">所在地</a></li>
	<li><a href="__URL__/mygoods/uid/{$user.id}">我晒的东西</a></li>
	<li><a href="__URL__/mybrand/uid/{$user.id}">我支持的品牌</a></li>
	<li><a href="__URL__/mygroup/uid/{$user.id}">我的侃侃组</a></li>
</ul>

</div>
</div>
<div class="clear"></div>


<div class="sort" id="shop">
<h2>{$user.cnname}逛的地方 &nbsp;
·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp; <span
	class="pl">( <a class="csslink" href="__URL__/gomore/what/url/do/go/uid/{$user.id}">122个逛过</a>
·&nbsp; <a class="linkcss" href="__URL__/gomore/what/url/do/good/uid/{$user.id}">8个推荐</a>
·&nbsp; <a class="linkcss" href="__URL__/gomore/what/url/do/buy/uid/{$user.id}">8个买过</a>
 )</span></h2>
<div class="obline">
<volist name="gobuydata[0]" id="vo">
<include file="Component:spacesite_m" />
</volist>
<div class="clear"></div>
</div>
</div>
<div class="sort" id="book">
<h2>{$user.cnname}晒的东西 &nbsp;
·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp; <span
	class="pl">( <a class="linkcss" href="__URL__/gomore/what/goods/do/like/uid/{$user.id}">6个喜欢</a>
·&nbsp; <a class="linkcss" href="__URL__/gomore/what/goods/do/want/uid/{$user.id}">10个想买</a>
·&nbsp; <a class="linkcss" href="__URL__/gomore/what/goods/do/owner/uid/{$user.id}">3个拥有</a> )</span> </h2>
<div class="obline">
<div class="substatus">喜欢</div>
<ul>
   <volist name="likegoods" id="vo">
	<include file="Component:space_goodsm" />
   </volist>
</ul>
<div class="clear"></div>
</div>
<div class="obline">
<div class="substatus">想买</div>
<ul>
   <volist name="wantgoods" id="vo">
	<include file="Component:space_goodsm" />
	</volist>
</ul>
<div class="clear"></div>
</div>

<div class="obline">
<div class="substatus">拥有</div>
<ul>
   <volist name="ownergoods" id="vo">
	<include file="Component:space_goodsm" />
	</volist>
</ul>
<div class="clear"></div>
</div>

</div>

<div class="sort" id="note">
<div class="sort" id="group"><h2>{$user.cnname}参加的侃侃组 · · · · · ·<span class="pl">(<a  class="linkcss" href="__URL__/gomore/what/group/uid/{$user.id}">更多</a>)</span></h2>
<volist name="mygroups" id="vo">
<include file="Component:group_m" />
</volist>  
      
<div class="clear"></div>
</div>

<h2>{$user.cnname}参与的话题 · · · · · ·<span class="pl">(<a class="linkcss" href="__URL__/gomore/what/topic/uid/{$user.id}">更多</a>)</span></h2>
<div id="grouptopic">
<table width="100%">
	<tbody>
		<tr>
			<td>话题</td>
			<td>侃侃组</td>
			<td>作者</td>
			<td align="right" nowrap="nowrap">    回复</td>
			<td align="right">最后回复</td>
		</tr>
		<present name="topiclist">
<volist name="topiclist" id="vo">
		<tr class="pl">
			<td><a title="{$vo.title}" href="{:U('group/showtopic',array('id'=>$vo["tid"]))}">{$vo.title}</a></td>
			<td><a href="{:U('group/showgroup',array('id'=>$vo["gid"]))}">{$vo.groupname}</a></td>
			<td>{$vo.cnname}</td>
			<td align="right">{$vo.postcount}</td>
			<td align="right" nowrap="nowrap">{$vo.lastreplytime|date="m-d g:i",###}</td>
		</tr>
</volist>
 <else />
        <tr>
		  <td colspan="5" style="color:#F00; font-weight:bold">{$user.cnname}没有加入到侃侃组......</td>
		  </tr>
</present>
	</tbody>
</table>
</div>

</div>

<div class="sort" id="movie">
<h2>{$user.cnname}支持的品牌 · · · · · ·<span class="pl">(<a class="linkcss" href="__URL__/gomore/what/brand/uid/{$user.id}">更多</a>)</span></h2>
<div class="obline">
<volist name="brand" id="vo">
<div class="mblock"><a class="goods_photo"
	href="{:U('show/showbrand',array('id'=>$vo["bid"]))}"> <img class="artist_s"
	alt="{$vo.title}" src="{:getImage($vo['image_id'])}" height="50" width="70" title="{$vo.title}"></a>
<div style="width: 100%;" class="ll"><a
	href="{:U('show/showbrand',array('id'=>$vo["bid"]))}">{$vo.title}</a></div>
<div class="pl">({$vo.supportnum}人支持,{$vo.buynum}买过)</div>
</div>

</volist>
<div class="clear"></div>
</div>
</div>



</div>

<div class="aside" style="position: relative; min-height: 5px;">
<include file="Component:profile" />
<include file="Component:note" />
<include file="Component:actionlink" />

<include file="Component:myfriends" />
<div class="sort" id="board">

<include file="Component:mysay" />
</div>

<div class="clear"></div>



</div>

<div class="extra"></div>