<include file="Public:head" />
<div class="amain">
<h1>赶快登陆邮箱去激活帐号吧</h1>
{.mail}收到一封激活邮件,请在48小时之类激活. <br />
<h2>点击打开邮箱</h2>
<div class="leftspace">
<a href="http://mail.163.com/" target="_blank"><img src="__ROOT__/Resource/images/mail/163logo.gif" /></a>
<a href="http://mail.sina.com/" target="_blank"><img src="__ROOT__/Resource/images/mail/sina.jpg" /></a>
<a href="http://mail.qq.com/" target="_blank"><img height="42" src="__ROOT__/Resource/images/mail/qqmail.gif" /></a>
<a href="http://www.gmail.com/" target="_blank"><img src="__ROOT__/Resource/images/mail/gmail.jpg" height="42" /></a>
 
 
 
 
</div>
</div>
<div class="aside">
<h2>登陆步骤</h2>
1.登陆您的邮箱 <br /><br />
2.点击邮箱里面的激活连接<br /><br />
3.成功激活
<br /><br />
<h2>常见问题</h2>
1.没有收到邮件 <br />
确认邮件是否被你提供的邮箱系统自动拦截，或被误认为垃圾邮件放到垃圾箱了。<br /><br />
2.如果超过10分钟您仍然未收到激活信，请您点击：<br />
<a href="__APP__/signin/resend/email/{.mail}">重发激活信</a>
<br /><br />
3.如果再次发送激活信还没收到，请试试：<br />
<a href="__APP__/signin">更改邮箱重新注册</a>
</div>

<div class="extra">
</div>

<include file="Public:foot" />