<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{&site.title} MIS 系统</title>
</head>
	<frameset rows="76,*" cols="*" frameborder="no" border="0" framespacing="0" >
		<frame src="/menu/topmenu" name="mcTopFrame" id="mcTopFrame" scrolling="no" noresize>
		<frameset cols="176,*" name="mcBodyFrame" id="mcBodyFrame" frameborder="no" border="0" framespacing="0"  >
			<frame src="/menu/menu" name="mcMenuFrame" id="mcMenuFrame" scrolling="no" noresize>
			<frame src="/index/main" name="mcMainFrame" id="mcMainFrame" scrolling="auto" noresize>
		</frameset>
	</frameset>
	<noframes>
		<body>很遗憾，你的浏览器不支持框架。</body>
	</noframes>
</html>
