<tagLib name="html,cx" />
<include file="Public:header" />
	<div id="append"></div><div class="container">
	<h3>统计信息</h3>
	<ul class="memlist fixwidth">
		<li><em>用户总数:</em></li>
		<li><em>内容总数:</em></li>
		<li><em>招聘总数:</em></li>
		<li><em>咨询总数:</em></li>
	</ul>
	<h3>服务器环境</h3>
	<ul class="memlist fixwidth">
		<li><em>操作系统及PHP:</em></li>
		<li><em>操作系统及PHP:</em></li>
		<li><em>上传许可:</em></li>
		<li><em>当前数据库尺寸:</em></li>
		<li><em>Magic_quote_gpc:</em></li>
	</ul>
	<h3>开发者信息</h3>
	<ul class="memlist fixwidth">
		<li>
			<em>版权所有:</em>
			<em class="memcont"><a href="http://buddy.woshimaijia.com" target="_blank">Buddy Framework</a></em>
		</li>
		
		<li>
			<em>开发者信息:</em>
			<em class="memcont">
				xinqiyang		</em>		</li>
        <li>
			<em>产品服务:</em>
			<em class="memcont">
				QQ:517577550<br />
邮箱：xinqiyang@gmail.com
    </em>
		</li>
	</ul>
</div>

<include file="Public:footer" />
