	    </div>
		<div id="footer-outer">
			<div id="footer">
				
				<ul class="menu">
					
					
					<li class="leaf"><a href="{&SITE.blog}"
						title="woshimaijia Developer blog">Blog</a>
					</li>
					<li class="leaf"><a href="{&SITE.url}/group/woshimaijia"
						title="woshimaijia Development discussions">Discussions</a>
					</li>
					<li class="leaf"><a href="{:U('docs')}"
						title="woshimaijia development documentation">Documentation</a>
					</li>
					<li class="leaf last"><a target="_blank" class="ext"
						href="{&SITE.url}/group/woshimaijia" title="Buddy Dev Team">A 
							community site supported by Buddy Dev Team</a><span class="ext"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>