
	<div style="text-align:center;padding:50px  50px 50px 50px; width:700px; height:300px;">
		<h1>感谢您的分享,信息发布成功啦!^-^</h1>
		<div style="display:block;">
		<p style="float:right;">如果不想继续发布,请点击右上角关闭按钮,关闭本页面,继续逛逛其他的页面
		</p>
		</div>
		<div class="clear"></div>
		<div style="display:block;">
			<a href="__APP__/{.module}/{.action}/id/{.id}" target="_blank" class="pabtn">查看刚发的</a>
			<a href="__APP__/gogo/url" class="pabtn">继续分享地方</a> 
			<a href="__APP__/show/goods" class="pabtn">继续晒晒东西</a>
			<a href="__APP__/show/brand" class="pabtn">继续提交品牌</a>
		</div>
	</div>


