<div class="amain">

<div style="margin-top: 1em">
<h2>去逛逛吧!发现美丽新世界· · · · · ·<span class="pl">(<a href="/chart">更多</a>)</span></h2>
	<volist name="nearuser" id="vo">
    <div class="dblock">
    <a class="goods_photo" href="__APP__/user/space/id/{$vo.id}">
    <img height="100" width="100" class="artist_s" alt="{$vo.title}" src="{&IMGURL}/{$vo.icon}"></a>
    <div style="width: 100%;" class="ll"><a href="__APP__/user/space/id/{$vo.id}">{$vo.title}</a>
    <div class="pl">({$vo.total}人喜欢)</div>
    </div></div>
  </volist>
<h2>新来的各位· · · · · ·<span class="pl">(<a href="/chart">更多</a>)</span></h2>
	<volist name="newusers" id="vo">
    <div class="dblock">
    <a class="goods_photo" href="__APP__/user/space/id/{$vo.id}">
    <img height="100" width="100" class="artist_s" alt="{$vo.title}" src="{&IMGURL}/{$vo.icon}"></a>
    <div style="width: 100%;" class="ll"><a href="__APP__/user/space/id/{$vo.id}">{$vo.title}</a>
    <div class="pl">({$vo.total}人喜欢)</div>
    </div></div>
  </volist>
    

<h2>最活跃的大家· · · · · · <span class="pl">(<a href="/artists/top20">更多</a>)</span></h2>
    <volist name="activeuser" id="vo">
    <div class="dblock">
    <a class="goods_photo" href="__APP__/user/space/id/{$vo.id}">
    <img height="100" width="100" class="artist_s" alt="{$vo.title}" src="{&IMGURL}/{$vo.icon}"></a>
    <div style="width: 100%;" class="ll"><a href="__APP__/user/space/id/{$vo.id}">{$vo.title}</a>
    <div class="pl">({$vo.total}人喜欢)</div>
    </div></div>
  </volist>

<h2>现在在线的· · · · · · <span class="pl">(<a href="/labels/">更多</a>)</span></h2>
    <volist name="onlineuser" id="vo">
    <div class="dblock">
    <a class="goods_photo" href="__APP__/user/space/id/{$vo.id}">
    <img height="100" width="100" class="artist_s" alt="{$vo.title}" src="{&IMGURL}/{$vo.icon}"></a>
    <div style="width: 100%;" class="ll"><a href="__APP__/user/space/id/{$vo.id}">{$vo.title}</a>
    <div class="pl">({$vo.total}人喜欢)</div>
    </div></div>
  </volist>
<h2>大家刚刚说的· · · · · · <span class="pl">(<a href="/labels/">更多</a>)</span></h2>
   <volist name="onlineuser" id="vo">
    <div class="dblock">
    <a class="goods_photo" href="__APP__/user/space/id/{$vo.id}">
    <img height="100" width="100" class="artist_s" alt="{$vo.title}" src="{&IMGURL}/{$vo.icon}"></a>
    <div style="width: 100%;" class="ll"><a href="__APP__/user/space/id/{$vo.id}">{$vo.title}</a>
    <div class="pl">({$vo.total}人喜欢)</div>
    </div></div>
  </volist>
</div>
</div>
        <div class="aside">
     
<include file="Component:actionlink" />
<include file="Component:note" />

<include file="Component:adblock" />
<include file="Component:comment" />
        </div>
        <div class="extra">           
        </div>


