<div class="amain">
<div class="leftspace">
<form id="form1" action="__URL__/deal" method="post">
<table style="clear: both; width: 100%">
	<tbody>

		<tr>
			<td>username</td>
			<td>{$vo.enname}</td>
		</tr>


		<tr>
			<td>常用名</td>
			<td><input size="40" name="cnname" value="{$vo.cnname}" type="text" datatype="require" require="true"  msg="我的常用名必须填写" />我常用的网名</td>
		</tr>
		<tr>
			<td>性别</td>
			<td>{$vo.sex|setSex}</td>
		</tr>
		<tr>
			<td>生日</td>
			<td><input size="40" name="birthday" value="{$vo.birthday}" type="text" datatype="date" require="false"  msg="生日请写下吧" /> 例如:1980-01-01
			</td>
		</tr>


		<tr>
			<td>博客地址</td>
			<td><input size="40" name="blogurl" value="{$vo.blogurl}" type="text" datatype="url" require="false"  msg="博客必须填写" /> 例如:http://blog.woshimaijia.com
			</td>
		</tr>
		<tr>
			<td>自我说明</td>
			<td><textarea id="usertxt" rows="8" cols="70" name="usertxt">{$vo.usertxt}</textarea></td>
		</tr>

		<tr>
			<td>QQ</td>
			<td><input size="40" name="qq" value="{$vo.qq}" type="text" datatype="qq" require="false"  msg="QQ请写下吧或者格式不正确,纯数字" /></td>
		</tr>
		<tr>
			<td>MSN</td>
			<td><input size="40" name="msn" value="{$vo.msn}" type="text" datatype="email" require="false"  msg="MSN请写下吧" /></td>
		</tr>
		<tr>
			<td>百度HI</td>
			<td><input size="40" name="baiduhi" value="{$vo.baiduhi}" type="text" />
			</td>
		</tr>
		<tr>
			<td>旺旺</td>
			<td><input size="40" name="wangwang" value="{$vo.wangwang}" type="text" />
			</td>
		</tr>
		<tr>
			<td>手机</td>
			<td><input size="40" name="mobile" value="{$vo.mobile}" type="text" datatype="mobile" require="false"  msg="手机号位数或者格式不正确" /></td>
		</tr>

		
		<tr>
			<td><input  type="hidden" name="actm" value="user" /> <input size="40"
				type="hidden" name="id" value="{$vo.id}" /></td>
			<td><input type="submit" name="submit" value="我提交啦"
				class="btn-submit"></td>
		</tr>
	</tbody>
</table>



</form>
 <script>
	$('#form1').checkForm();
</script>
</div>
</div>
<div class="aside"><include file="Component:useraction" /></div>
<div class="extra"></div>