<include file="Public:head" />
<div class="amain">
<div class="signin">
               
                <strong>我是买家<span>买家分享社区</span></strong>
                <div>
                <b>534个城市</b>
                <b>{$page.num.0}个买家</b>
                <b>逛了{$page.num.1}家购物站</b>
                <br>
                <em>晒了{$page.num.2}个购物单,建了{$page.num.1}个侃侃组,聊了{$page.num.0}个话题</em> <br />
                 <a href="{:U('signup/index')}" >加入我们 注册</a>
                </div>
               
</div>
<div>
<div class="clear"></div>

<h2>今天大家常去的地方· · · · · ·<span class="pl">(<a  href="__URL__/gomore" >更多</a>)</span></h2>
<volist name="gogo" id="vo">
<include file="Component:url_m" />
</volist>
<div class="clear"></div>

<h2>今天推荐大家一起买的· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="goods" id="vo">
<include file="Component:goodsindex" />
</volist>
<div class="clear"></div>

<h2>今天刚刚来的各位· · · · · ·<span class="pl">(<a href="__URL__/newhere">更多</a>)</span></h2>
<volist name="newusers" id="vo">
<include file="Component:user_m" />
</volist>
<div class="clear" ></div> 


<h2>今天大家看过的品牌· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="brand" id="vo">
<include file="Component:brand" />
</volist>
<div class="clear"></div>
</div>
</div>
        <div class="aside">
        <empty name="uinfo['id']">
      <div class="login">
    <form id="form1" name="form1" method="post" action="{:U('login/checklogin')}">
        <fieldset>
            <legend>登陆  我是买家</legend>
            <div class="item">
                <label for="form_email">E-mail</label>
                <input name="email" id="email" value="{$mail}" size="30" type="text" class="width170" tabindex="1">
                <a href="{:U('signup/index')}" >快速注册</a>
            </div>
            <div class="item">
                <label for="form_password">密码</label>
                <input name="password" id="password" class="text" size="20" type="password" class="width170" tabindex="2">
                <a href="{:U('login/forgetpass')}">忘记密码</a>
            </div>
            <div class="iteml">
                <label for="form_remember">
                <input name="autologin" type="checkbox" id="autologin" class="mt5" />
                记住我</label>
            </div>
            <div class="iteml">
                <input value="登   陆" type="submit" class="btn-submit">
               
            </div>
        </fieldset>
    </form>
    </div>
    <else />
      <include file="Component:actionlink" />
    </empty>
   

<include file="Component:note" />

<include file="Component:adblock" />

<h2>大家刚刚说 · · · · · <span class="pl">(<a href="/labels/">更多</a>)</span>  </h2>
<div style="float:left;width:100%;margin-bottom:3em">
<volist name="comments" id="vo">
<include file="Component:indexcomment" />
</volist>

</div>

</div>
<div class="extra">           
</div>

<include file="Public:foot" />
