<include file="Public:head" />
<div class="amain">
	<div class="leftspace">
		<table width="100%%">
			<tbody>
				<tr>
					<td valign="top" width="75"><a href="{:U('people/space',array('enname'=>$page['data']['user'][$page['data']['mail']['from_id']]['account']))}" class="nbg"><img
		src="{$page['data']['user'][$page['data']['mail']['from_id']]['image_id']|getNewImage=###,'m'}" class="m_sub_img"
		alt="{$page['data']['user'][$page['data']['mail']['from_id']]['screenname']}"></a></td>
					<td valign="top"><span class="pl2">来自: </span><span
						class="pl2"> <a href="{:U('people/space',array('enname'=>$page['data']['user'][$page['data']['mail']['from_id']]['account']))}">{$page['data']['user'][$page['data']['mail']['from_id']]['screenname']}</a>
					</span><br>
					<span class="pl2">时间: {$page['data']['mail']['id']|msubstr=###,0,10|date='Y-m-d
							H:m',###}</span><br>
					<br>
						<div class="ul">
							<span class="pl2">话题: </span><span class="m">{$page['data']['mail']['title']}</span>
						</div>
						<p>{$page['data']['mail']['content']|nl2br}</p>
						<div class="ul">
							<br>
						</div> <input type="button" name="m_reply"
						class="btn-submit" value="回复消息">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
						type="button" name="m_delete" class="btn-submit" value="删除消息">
					</p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="aside">

	<p>
		>> <a class="ulinkcss" href="{:U('mail/index')}">返回我的收件箱</a>
	</p>
</div>
<div class="extra"></div>
<include file="Public:foot" />