<div class="amain">
<h2>大家刚刚晒的购物单· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="goods" id="vo">
<include file="Component:goods" />

</volist>
<div class="clear"></div>

<h2>大家支持的品牌· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="brand" id="vo">
<include file="Component:brand" />
</volist>
<div class="clear"></div>

</div>
<div class="aside">
<include file="Component:actionlink" />
<include file="Component:adblock" />
</div>
<div class="extra"></div>