<form name="form1" action="{:U('search/object')}" method="post">
	<span>对象</span> <select name="object">
		<option value="">所有会员</option>
		<option value="1">前台管理员</option>
		<option value="2">分享管理员</option>
		<option value="3">论坛管理员</option>
		<option value="4">问答管理员</option>
		<option value="5">闲置管理员</option>
	</select> <span>内容</span> <input class="textinput" type="text" value=""
		name="content" size="10" style="margin-top: 5px;"> <input
		class="submit_btn" type="submit" value="搜索">
</form>