   </div>
  </div>
  <div id="footer">
 
	<div class="fr">
		 <a class="opt" style="margin-left:40px;" href="#top">返回顶部</a>
	</div>
	<div class="gray-link">
		<a href="{:U('about/show',array('w'=>'aboutus'))}">关于我是买家</a>|<a href="{:U('about/show',array('w'=>'joinus'))}">加入团队</a>|<a href="{:U('about/show',array('w'=>'contactus'))}">联系我们</a>|<a href="{:U('about/show',array('w'=>'agreement'))}">使用协议</a>|<a href="{:U('about/show',array('w'=>'help'))}">看看帮助</a>|<a href="{:U('group/showgroup',array('id'=>'1'))}">提提意见</a>|<a href="#" onclick="javascript:window.external.AddFavorite('__APP__','我是买家首页','我是买家首页');" rel="sidebar">加入收藏</a>|<a id="report" style="color:#c0c0c0" href="#">举报不良信息</a>
		|<a  href="http://blog.woshimaijia.com/" target="_blank">我是买家官方博客</a> 
	</div>
	<div style="float:right" class="gray-link">Copyright © woshimaijia.com 2010 All rights reserved.<a target="_blank" href="http://www.miibeian.gov.cn" >浙ICP备09035551号</a>
	
	</div>

  </div>
</div>

</body>
</html>
