<div class="amain">

<h2>大家刚刚推荐的一起买,行动吧· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="goods" id="vo">
<include file="Component:goods" />
</volist>
<div class="clear"></div>

<h2>大家一起去团购· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="group" id="vo">
<include file="Component:url_m" />
</volist>
<div class="clear"></div>

<h2>今天参加一起买的各位· · · · · ·<span class="pl">(<a href="__URL__/newhere">更多</a>)</span></h2>
<volist name="newusers" id="vo">
<include file="Component:user_m" />
</volist>
<div class="clear" ></div> 
</div>
<div class="aside">
<include file="Component:actionlink" />
<include file="Component:adblock" />
</div>
<div class="extra"></div>