<include file="Public:head" />
<div class="amain">
        <div class="leftspace">
        <p class="pcss">
		我是买家 使用协议 请认真阅读<br>
<br>
用户以各种方式使用我是买家网站 服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用我是买家网站 或 我是买家网站用户发布内容）的过程中，不得以任何方式利用我是买家网站直接或间接从事违反中国法律、以及社会公德的行为，且用户应当恪守下述承诺：<br>
<br>
　　1. 发布、转载或提供的内容符合中国法律、社会公德；<br>
　　2. 不得干扰、损害和侵犯我是买家网站的各种合法权利与利益；<br>
　　3. 遵守我是买家网站以及与之相关的网络服务的协议、指导原则、管理细则等；<br>
<br>
　　我是买家网站有权对违反上述承诺的内容予以删除。	 </p>
        </div>
</div>
<div class="aside">
<br /> <br /> <br /> <br /> <a
		href="{:U('about/about')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 关于我是买家</a><br>
	<br> <a href="{:U('about/joinus')}"
		style="font-size: 14px; margin-bottom: 14em;" title="">&gt; 加入团队</a><br>
	<br> <a href="{:U('about/joinus')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 联系我们</a><br>
	<br> <a href="{:U('about/agreement')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 使用协议</a><br>
	<br> <a href="{:U('about/help')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 看看帮助</a><br>
	


</div>
<div class="extra"></div>
<include file="Public:foot" />