<include file="Public:head" />
<div class="amain">
	<div class="leftspace">
		<p class="pcss">
			我是买家帮助,有什么问题请按照下面的 FAQ 进行处理,如果还有什么问题,可以联系在线客服人员,我们会及时的为您解答!<br>
			<br> 我是买家FAQ:<br> <br> 1.我是买家为什么无法发布信息?<br>
			必须注册后才能够发布
		</p>
	</div>
</div>
<div class="aside">
	<br /> <br /> <br /> <br /> <a href="{:U('about/about')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 关于我是买家</a><br>
	<br> <a href="{:U('about/joinus')}"
		style="font-size: 14px; margin-bottom: 14em;" title="">&gt; 加入团队</a><br>
	<br> <a href="{:U('about/joinus')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 联系我们</a><br> <br>
	<a href="{:U('about/agreement')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 使用协议</a><br> <br>
	<a href="{:U('about/help')}"
		style="font-size: 14px; margin-bottom: 14em;">&gt; 看看帮助</a><br>



</div>
<div class="extra"></div>
<include file="Public:foot" />