<empty name="uinfo['id']"> 
	<a href="{:U('signin/index')}" class="ulinkcss">&gt; 加入我是买家</a><br><br>
<a href="{:U('login/index')}" class="ulinkcss">&gt; 登陆我是买家</a><br><br>
<else />
<div class="noticeblock">
<a href="" class="ulinkcss" >用户信息提醒,比如头像等</a>
<br>
</div>
<div class="cat-col5">
<a href="{:U('gogo/url')}" class="linkcss" title="大家去过的好的网站,网店 分享出来吧">&gt; 分享好地方</a><br><br>
<a href="{:U('show/goods')}" class="linkcss" title="想推荐大家一起买,晒晒我买的">&gt; 晒晒好东西</a><br><br>
<a href="{:U('show/brand')}" class="linkcss" title="我喜欢 的品牌我推荐,赶快行动!">&gt; 提交酷品牌</a><br>


<if condition="(strtolower(ACTION_NAME) eq 'showgroup')">
<a href="{:U('group/group')}" class="ulinkcss">&gt; 新建侃侃组</a><br><br>
<a href="{:U('group/topic',array('group_id'=>$gg['id']))}" class="ulinkcss">&gt; 我要发言</a><br><br>
<a href="{:U('group/join',array('group_id'=>$gg['id']))}" class="ulinkcss">&gt; 加入{$vo.groupname}</a><br><br><br>
<a href="{:U('group/quite',array('group_id'=>$gg['id']))}" class="ulinkcss">&gt; 退出本组</a><br><br>
</if>

</div>

<div class="clear"></div>
</empty>

<if condition="(strtolower(ACTION_NAME) eq 'showtopic') OR (strtolower(ACTION_NAME) eq 'topic')">
<a href="{:U('group/topic',array('group_id'=>$topic['group_id']))}" class="ulinkcss">&gt; 我要发言</a><br><br>
<a href="{:U('group/showgroup',array('id'=>$topic['group_id']))}" class="ulinkcss">&gt; 返回 {$topic.group_id|getGroupname}</a><br><br>
</if>



