<h2>品牌分类  · · · · · <span class="pl">(<a href="/more/">更多</a>)</span> </h2>
<ul class="cat-col5">
        
    
    <li>
        <ul class="clearfix">
            <li>
                [地域]
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232">美国</a>
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232">日本</a>
            </li>
             <li>
                <a href="__APP__/brand/listbrand/id/232">韩国</a>
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232">中国</a>
            </li>
             <li>
                <a href="__APP__/brand/listbrand/id/232">浙江</a>
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232">福建</a>
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232">山东</a>
            </li>
            <li class="last">
                    <a href="__APP__/brand/listbrand/id/232童话">裙子</a>
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232日本文学">袜子</a>
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232">鞋子</a>
            </li>
            <li>
                <a href="__APP__/brand/listbrand/id/232">帽子</a>
            </li>
            <li class="last">
                    <a href="__APP__/brand/listbrand/id/232">港台</a>
            </li>
            <li class="last">
                    <a href="__APP__/brand/listbrand/id/232">(更多)</a>
            </li>
        </ul>
    </li>

    

</ul>