<h2>大家对 {$vo.title|msubstr=0,30} 说.....(<a href="">全部</a>)</h2>
<ul class="mbt">
<li id="showonecomment"></li>
<volist id="comments" name="comment">
	<li class="mbtl">
	<a class="pl-5" href="{:U('people/space',array('id'=>$comments['uid']))}">
	<img src="{:getImage($comments['image_id'],'m_')}" />
	</a>
	</li>
	<li class="mbtrdot">
	<a	href="{:U('people/space',array('id'=>$comments['uid']))}">{$comments.cnname}</a>: 
   {$comments.content|htmlspecialchars|nl2br}
   <span class="pl">{$comments.createtime|date='Y-m-d H:m:s',###}</span>
   </li>
</volist>	
	
	
</ul>