<div id="mb">
<h2>我的引发的 &nbsp; ·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp; <span
	class="pl">( <a href="/mine/miniblogs">全部</a> )</span></h2>
<ul class="mbt">
	<li style="margin-top: 10px; border-bottom: 1px solid #ddd;"><span
		class="pl">昨天</span></li>
	<li class="mbtrmini"><span class="pl">和<a
		href="http://www.douban.com/people/38478952/"
		onclick="moreurl(this,{from:'mb-320941887'})">阿香好姑娘.</a> 、<a
		href="http://www.douban.com/people/xuxuhouse/"
		onclick="moreurl(this,{from:'mb-320867996'})">没文化老奶奶</a> 、<a
		href="http://www.douban.com/people/34895861/"
		onclick="moreurl(this,{from:'mb-320415738'})">诺′小言°</a> 、<a
		href="http://www.douban.com/people/moria/"
		onclick="moreurl(this,{from:'mb-320366948'})">Moria</a>成为了朋友</span></li>
	<li class="mbtrmini"><span class="pl">加入了<a
		href="http://www.douban.com/group/S-inn/"
		onclick="moreurl(this,{from:'mb-320366083'})">杭州刺鱼客栈 旅馆旅游背包客住宿</a>小组</span>
	&nbsp;</li>
	<li style="margin-top: 10px; border-bottom: 1px solid #ddd;"><span
		class="pl">4月12日</span></li>
	<li class="mbtrmini"><span class="pl">和<a
		href="http://www.douban.com/people/qiuqiutone/"
		onclick="moreurl(this,{from:'mb-320198616'})">Coco．陈</a> 、<a
		href="http://www.douban.com/people/1408313/"
		onclick="moreurl(this,{from:'mb-320035345'})">紫裙无痕</a> 、<a
		href="http://www.douban.com/people/Vivinara/">Vivinara</a>成为了朋友</span></li>
	<li class="mbtrmini"><span class="pl">说：</span>
	<div class="quote"><span class="inq">竟然被跳转了...呵呵,不能乱写的</span> <span><a
		href="http://www.douban.com/people/scotoma/miniblog/320015044/"
		name="recreply-2054835-320015044-r-y-y">回应</a> </span></div>
	</li>
	<li class="mbtrmini"><span class="pl">说：</span>
	<div class="quote"><span class="inq">其实豆瓣需要改变的地方还是有的,比如按钮,体验度有点不够,做的大点会死噶....</span>
	<span><a
		href="http://www.douban.com/people/scotoma/miniblog/320014634/"
		name="recreply-2054835-320014634-r-y-y">回应</a> </span></div>
	</li>
</ul>
</div>