<h2>小组搜索 &nbsp; ·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;</h2>
<div class="indent">
	<div class="infobox">
		<div class="ex1">
			<span></span>
		</div>
		<div class="bd">
			<form id="group_search" name="group_search" action="{:U('search/group')}"	method="get">
				<div class="tc">
					<input name="keyword" class="search_text"
						type="text" size="16" maxlength="36" value="" style="width:180px;height:20px">
						<input  style="margin-top:15px"  name="group_submit" type="submit" value="搜索讨论组">
				</div>
				
			</form>
		</div>
		<div class="ex2">
			<span></span>
		</div>
	</div>
</div>