<div class="showflash"><!--焦点图 开始 --><script language="javascript">
	//初始化Flash时，包含xml路径
	CreateFlash("banner", "images/swf/indexshow.swf", 590, 259,
			"data=images/swf/url.xml");
</script><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
	codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
	width="590" height="259" id="banner" align="middle">
	<param name="allowScriptAccess" value="always">
	<param name="quality" value="high">
	<param name="movie" value="images/swf/indexshow.swf">
	<param name="flashvars"
		value="data=images/swf/url.xml">
	<embed src="images/swf/indexshow.swf"
		flashvars="data=images/swf/url.xml" quality="high"
		width="590" height="259" name="banner" align="middle"
		allowscriptaccess="always" type="application/x-shockwave-flash"
		pluginspage="http://www.macromedia.com/go/getflashplayer"></object><!--焦点图 结束 -->
</div>