<dl class="oblock">
	<dt>
		<div onmouseout="usercheckfollow({$vo.id})" onmouseout="this.getElementsByTagName('div')[0].style.display = 'none'">
			<a
				href="{:U('people/space',array('enname'=>$vo['account']))}">
				<img
				src="{$vo['image_id']|getNewImage=###,'m'}"
				title="{$vo['screenname']}"> </a>
			<div class="focus_{$vo.id}"
				style="position: relative; text-align: center"></div>
		</div>
	</dt>
	<dd>
		<a
			href="{:U('people/space',array('enname'=>$vo['account']))}">{$vo['screenname']}</a>
		<br />({$vo['city']|getCity})

	</dd>
</dl>