<div>
<h2>第三方帐号登录</h2>
<a href="{:U('login/weibo')}"><img src='{$page.resurl}/images/pics/connect_wb.png' title='微博登录' class="loginimg" /></a> 
<!-- 
<a href="{:U('login/qq')}"><img src='{$page.resurl}/images/pics/connect_QQ.png' title='QQ登录'  class="loginimg" /></a> <br />
<a href="{:U('login/taobao')}"><img src='{$page.resurl}/images/pics/connect_tb.gif' title='淘宝登录'  class="loginimg" /></a> 
<a href="{:U('login/qqt')}"><img src='{$page.resurl}/images/pics/connect_tqq.png' title='腾讯微博登录'  class="loginimg" /></a> <br />
<a href="{:U('login/wy')}"><img src='{$page.resurl}/images/pics/connect_163.png' title='网易微博登录'  class="loginimg" /></a> 
<a href="{:U('login/renren')}"><img src='{$page.resurl}/images/pics/connect_rr.gif' title='人人网登录'  class="loginimg" /></a> <br />
 -->
</div>

