
<h2>{$user.cnname}的朋友· · · · · ·<span class="pl">(<a  class="linkcss" href="__URL__/gomore/what/friend/uid/{$user.id}">更多</a>)</span> </h2>
<div id="myfriendlist">
<volist name="focuspeople" id="vo">
<dl class="oblock">
	<dt><a href="{:U('people/space',array('id'=>$vo['id']))}" class="nbg"><img
		src="{$vo.url}/{$vo.model}/spic/m_{$vo.filename}" class="m_sub_img"
		alt="{$vo.cnname}"></a></dt>
	<dd><a href="{:U('people/space',array('id'=>$vo['id']))}">{$vo.cnname|msubstr=0,6}</a><br>
	<span class="pl">({$vo.city|default='火星'})</span></dd>
</dl>
</volist>
<div class="clear" ></div> 

</div>
<div class="clear"></div>