<notempty name="uinfo['id']"> 
<div class="txd">
<h2>说说......</h2>
<form name="comment_form" id="comment_form" method="post" action="{:U('account/deal')}">
<input type="hidden" name="objectid" value="{.id}" />
<input type="hidden" name="model" value="" />
<input type="hidden" name="actm" value="comment" />
    <input type="hidden" name="ajax" value="1" />
<textarea id="ccontent" name="content" rows="8" cols="65"></textarea><br>
<input type="button" onclick="docomment()" value="发 表" class="btn-submit"><span id="commentresult"></span></form>
</div>
<div class="clear"></div>

<script type="text/javascript">
function docomment()
{

	$("#commentresult").hide();
	$.ajax({
		   type: "POST",
		   url: '{:U('account/deal')}',
		   data: $("#comment_form").serialize(),
		   success: 
		   function(msg){
			 var obj = eval( "(" + msg + ")" );
			 $("#commentresult").html(obj.info);
			 $("#commentresult").slideDown("slow",function(){
			 });
			 //alert();
			 
			 //这里需要修改掉.拼接成一个 li 然后附加到ul 上面去就好了,现在的做法很不好
			 //window.location.reload();
			 //document.all['ccontent'].value;
			 //alert(document.all["content"].value);
			 
			
			 $("#showonecomment").html('<p style="background-color:#FF3200;line-height:25px;"><span style="margin-left:10px;color:#fff;">我说:  '+$("#ccontent").val()+'</span></p>');
			 $("#showonecomment").show();
			 document.forms['comment_form'].reset();
		   }
		});
}
</script>
</notempty>
