<div class="buyblock" style="margin-top:10px;">
<h2 style="float:left;">{$url.title} 指数 &nbsp; ·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;</h2> 
<div class="clear"></div>
<div>
<table>
<tbody>
	<tr>
		<td><a class="goods_photo"
	href="{:U('gogo/showurl',array('id'=>$url['id']))}"> <img class="user-image"
	alt="{$url.title}" src="{:getImage($url['image_id'])}" title="{$url.title}"></a></td>
		<td>
		<div class="pl">
		热门指数: {$url.gonum}人逛过 <br />
		购买指数: {$url.buynum}人买过<br />
		喜欢指数: {$url.goodnum}人推荐<br /><br />
		<a class="gotobutton" onclick="clickaction('{$url.id}','{$url.domain}')" href="http://{$url.domain}" target="_blank"  title="去{$url.title}">去{$url.title}逛逛</a>
		
		</div>
			
		</td>
	</tr>
</tbody>
</table>
</div>
<p style="text-align:left;">
{$url.desc}	
</p>

</div>
<div class="clear"></div>