<h2>分享:<a href="{:U('people/space',array('id'=>$user['id']))}">{$user.enname}</a></h2>
<div id="uprofile">
<table class="infobox" width="100%">
	<tbody>
		<tr>
			<td class="tablelt"></td>
			<td class="tablect"></td>
			<td class="tablert"></td>
		</tr>
		<tr>
			<td class="tablelc"></td>
			<td class="tablecc">
			<a href="{:U('people/space',array('id'=>$user['id']))}"><img class="user-image" src="{$user.image_id|getImage=###,'l_'}" alt="{$user.enname}" align="left"></a> 
			 <span class="pl">城市: </span><a
				href="__APP__/city/city/id/{$user.locationid|default='0'}">{$user.city|default="火星"}</a><br>
			<div class="pl">id: {$user.enname} <br>
			{$user.createtime|date='Y-m-d',###}加入<br>
			<br>
			总计 逛了{$user.gogonum}家<br />
			 总计 晒了{$user.shownum}单<br />
			<br />
			
			</div>
			<br class="clear">
			<div
				style="height: 0; border-bottom: 1px solid #f5e9db; margin: 5px;">
			</div>
			<span class="pl">BLOG地址:</span> <a href="{$user.blogurl}"
				target="_blank">{$user.blogurl}</a><br>
			
			<div style="margin-top: 5px">
			{$user.usertxt|nl2br}
			</div>
			</td>
			<td class="tablerc"></td>
		</tr>
		<tr>
			<td class="tablelb"></td>
			<td class="tablecb"></td>
			<td class="tablerb"></td>
		</tr>
	</tbody>
</table>
</div>
<div class="clear"></div>