<div class="sort" id="event">
<h2>我的同城活动 &nbsp; ·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp; <span
	class="pl">( <a href="/event/mine?g=a">1个参加</a> ·&nbsp; <a
	href="/event/mine?g=w">4个感兴趣</a> )</span></h2>
<div class="evt_short">
<ul>
	<li class="actfromfri">
	<div class="pl"><a class="pl2"
		href="http://www.douban.com/event/11107540/">丽江背包行报名</a><br>
	时间：9月30日 周三 － 10月7日 周三<br>
	3人参加 &nbsp; 8 人感兴趣</div>
	<br class="clear">
	</li>
	<li class="actfromfri">
	<div class="pl"><a class="pl2"
		href="http://www.douban.com/event/11474882/">义乌金都美食腐败聚餐</a><br>
	时间：1月22日 周五 － 1月29日 周五<br>
	3人参加 &nbsp; 9 人感兴趣</div>
	<br class="clear">
	</li>
</ul>
</div>
<div class="clear"></div>
</div>
