<div class="sort" id="group">
<h2>我参加的小组(41) &nbsp; ·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp; <span
	class="pl">( <a href="/group/mine">全部</a> )</span></h2>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/yiwuren/"><img
		src="http://t.douban.com/icon/g24677-1.jpg" class="m_sub_img"
		alt="义乌豆瓣"></a></dt>
	<dd><a href="http://www.douban.com/group/yiwuren/">义乌豆瓣</a> <span>(451)</span>
	</dd>
</dl>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/62322/"><img
		src="http://t.douban.com/icon/g62322-1.jpg" class="m_sub_img"
		alt="隔壁酒吧"></a></dt>
	<dd><a href="http://www.douban.com/group/62322/">隔壁酒吧</a> <span>(275)</span>
	</dd>
</dl>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/xyang/"><img
		src="http://t.douban.com/icon/g17579-1.jpg" class="m_sub_img"
		alt="暧昧不起。"></a></dt>
	<dd><a href="http://www.douban.com/group/xyang/">暧昧不起。</a> <span>(23946)</span>
	</dd>
</dl>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/colared/"><img
		src="http://t.douban.com/icon/g118139-10.jpg" class="m_sub_img"
		alt="波波登庄园"></a></dt>
	<dd><a href="http://www.douban.com/group/colared/">波波登庄园</a> <span>(154)</span>
	</dd>
</dl>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/Buykee.com/"><img
		src="http://t.douban.com/icon/g14399-1.jpg" class="m_sub_img"
		alt="创业合伙人"></a></dt>
	<dd><a href="http://www.douban.com/group/Buykee.com/">创业合伙人</a> <span>(1363)</span>
	</dd>
</dl>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/bewizme/"><img
		src="http://t.douban.com/icon/g45708-3.jpg" class="m_sub_img" alt="陪我"></a></dt>
	<dd><a href="http://www.douban.com/group/bewizme/">陪我</a> <span>(23470)</span>
	</dd>
</dl>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/43784/"><img
		src="http://t.douban.com/icon/g43784-2.jpg" class="m_sub_img"
		alt="昆明80后～"></a></dt>
	<dd><a href="http://www.douban.com/group/43784/">昆明80后～</a> <span>(2383)</span>
	</dd>
</dl>
<dl class="ob">
	<dt><a href="http://www.douban.com/group/Gia-club/"><img
		src="http://t.douban.com/icon/g12984-3.jpg" class="m_sub_img"
		alt="我们爱讲冷笑话"></a></dt>
	<dd><a href="http://www.douban.com/group/Gia-club/">我们爱讲冷笑话</a> <span>(137620)</span>
	</dd>
</dl>
<div class="clear"></div>
</div>