<div class="amain">


<h2>大家经常去逛的团购站点· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="gogo[2]" id="vo">
<include file="Component:url" />
</volist>
<div class="clear"></div>

<h2>大家经常去逛的知名站点· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="gogo[0]" id="vo">
<include file="Component:url" />
</volist>
<div class="clear"></div>
<h2>大家经常去逛的站点· · · · · ·<span class="pl">(<a href="__URL__/gomore/">更多</a>)</span></h2>
<volist name="gogo[1]" id="vo">
<include file="Component:url" />
</volist>
<div class="clear"></div>
</div>
<div class="aside">
<include file="Component:actionlink" />
<include file="Component:adblock" />
</div>
<div class="extra"></div>