<div class="amain">
<div class="leftspace">
<form id="form1" action="{:U('group/deal')}" method="post"
	enctype="multipart/form-data">
<table style="clear: both; width: 100%">
	<tbody>

		<tr>
			<td>话题标题</td>
			<td><input size="60" name="title" value="{$vo.title}"
				type="text" datatype="require" require="true"  msg="标题必须输入" /></td>
		</tr>

		<tr>
			<td>详细内容</td>
			<td><textarea  rows="14" cols="70" name="content" datatype="require" require="true"  msg="话题内容必须输入">{$vo.content}</textarea></td>
		</tr>

		<tr>
			<td>标签</td>
			<td><input size="60" name="tags" value="{$vo.tags}" type="text" />
			</td>
		</tr>

		<tr>
			<td><input type="hidden" name="actm" value="topic" /> <input
				type="hidden" name="id" value="{$vo.id}" /> <input size="40"
				name="group_id" value="{.group_id}{$vo.group_id}" type="hidden" /></td>
			<td><input type="submit" name="submit" value="我提交啦"
				class="btn-submit"></td>
		</tr>
	</tbody>
</table>
</form>
 <script>
	$('#form1').checkForm();
</script>
</div>
</div>
<div class="aside">

<include file="Component:actionlink" />

</div>
<div class="extra"></div>
