<include file="Public:head" />
<div class="amain">
	<div class="leftspace">
	<form action="{:U('login/checklogin')}" method="post" id="userlogin" name="userlogin">
  	我的E-mail:<br />
  	<input type="text" value="" size="46" maxlength="60" name="email" require="true" datatype="email" msg="帐户必须输入" tabindex="1" /> 我的E-mail,推荐使用QQ邮箱
  	<br />
  	<br />
    我的密码:<br />
    <input type="password" value="" maxlength="20" size="26" name="password" require="true" datatype="limit" min="5" max="20" msg="要输入密码" tabindex="2"/> 我的密码
    <a href="{:U('login/forgetpass')}">忘记密码了</a> <br />
    <br />
    <input type="checkbox" name="autologin" checked="checked" />
    <span class="pl">在这台电脑上记住我(一个月之内不用再登录)</span>
    <br/><br/>
    <input type="submit" value="点击登录" class="btn-submit" name="user_login" />
     <script>
	$('#userlogin').checkForm();
	</script>
	</form>
	</div>
</div>

<div class="aside">
	<h2>还没有注册</h2>
	<p>>> <a  href="{:U('signup/index')}">赶紧注册去...</a></p>
	<br />
	
</div>
<div class="extra"></div>
<include file="Public:foot" />